<!DOCTYPE html>
<html>
<head>
    <Title>Drug Usage</Title>
    <link rel="stylesheet" href="../static/drug.css"> 
</head>
<body>
        <center><h1><b>DRUG USAGE</b></h1></center>
        <center><a href="../static/images/drrusage.jpg" target="_blank"><button class="butt_drug">Current Ongoing Medication(10 Nov 2022)</button></a>
        <br>
        <a href="../static/images/OIP.jpeg" target="_blank"><button class="butt_drug">Previous Medications(1 Mar 2022)</button></a>
        <br>
        <a href="../static/images/OIP.jpeg" target="_blank"><button class="butt_drug">Previous Medications(20 Dec 2022)</button></a></center>
        <br><br><br><br>
        <center>
        <table class="a" bgcolor="black" width="800" height="200">

            <tr class="b" bgcolor="cadetblue">
                <th width="200" height="50" class="font">Sno</th>
                <th width="200" height="50" class="font">Name of the medicine</th>
                <th width="200" height="50" class="font">Timings</th>
                <th width="200" height="50" class="font">Frequency of the medicine</th>
            </tr>
            <tr bgcolor="powderblue">
                <th class="font2">1</th>
                <th class="font2">Dolo 650</th>
                <th class="font2">Morning-Night</th>
                <th class="font2">Twice a day</th>
            </tr>
            <tr bgcolor="powderblue">
                <th class="font2">2</th>
                <th class="font2">Azithromycin</th>
                <th class="font2">Morning</th>
                <th class="font2">once a week</th>
            </tr>
        </table>
        </center>
        <br>
</body>
</html>