<!DOCTYPE html>
<html>
    <head>
        <Title >Government Schemes</Title>
        <link rel="stylesheet" href="../static/govt.css">
    </head>
    <body>
        <center><h1><B>GOVERNMENT SCHEMES</B></h1></center>
        <br><br>
        <center><p class="gov">There are several central and state government health insurance schemes available in India. With substantial coverage and feasible premiums, these schemes are aimed at providing health insurance coverage to all the citizens of India. If you wish to participate in any such scheme, you can check whether you are eligible for it. You can also assess its coverage and premium.
         In addition to government health insurance schemes, you can also opt for the Tata AIG health insurance plans that offer comprehensive medical insurance at as low as ₹15 per day*. You can peruse our health insurance plans on our official website.</p></center>
        <center><table bgcolor="black" width="900" height="300">

            <tr bgcolor="cadetblue" align="center">
                <th class="basic" width="200" height="75">Sno</th>
                <th class="basic" width="200" height="75">Scheme</th>
                <th class="basic" width="200" height="75">Eligibility</th>
                
                
            </tr>
            <tr bgcolor="powderblue" align="center">
                <td class="tab" width="200" height="75">1</td>
                <td class="tab" width="200" height="75">The Central Government Health Scheme</td>
                <td class="tab" width="200" height="75">Above 18 years</td>
                
            </tr>
            <tr bgcolor="powderblue" align="center">
                <td class="tab" width="200" height="75">2</td>
                <td class="tab" width="200" height="75">The Pradhan Mantri Suraksha Bima Yojana (PMSBY)</td>
                <td class="tab" width="200" height="75">Above 18 years</td>
                
            </tr></center>
            <tr bgcolor="powderblue" align="center">
                <td class="tab" width="200" height="75">3</td>
                <td class="tab" width="200" height="75">The Aam Aadmi Bima Yojana (AABY)</td>
                <td class="tab" width="200" height="75">Above 18 years</td>
                
            </tr></center>
            <tr bgcolor="powderblue" align="center">
                <td class="tab" width="200" height="75">4</td>
                <td class="tab" width="200" height="75">The Employees' State Insurance Scheme (ESI)</td>
                <td class="tab" width="200" height="75">Above 18 years</td>
                
            </tr></center>
</html>