<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/prevapp.css">
        <title>Reports</title>
    </head>
    <body class="report">
        <center><h1><b>PREVIOUS PRESCRIPTIONS</b></h1></center>
        <br>

        <center><a href="../static/images/pres3.jpeg" target="_blank"><button class="button">Prescription 1(10 Nov 2022)</button></a></center><br><br>
        <center><a href="../static/images/pres3.jpeg" target="_blank"><button class="button">Prescription 2(1 Mar 2022)</button></a></center><br><br>
        <center><a href="../static/images/pres3.jpeg" target="_blank"><button class="button">Prescription 3(20 Dec 2022)</button></a></center><br><br>
        <center><a href="../static/images/pres3.jpeg" target="_blank"><button class="button">Prescription 4(14 Feb 2021)</button></a></center><br><br>
        <center><a href="../static/images/pres3.jpeg" target="_blank"><button class="button">Prescription 5(10 Aug 2021)</button></a></center><br><br>
    </body>
</html>