<!DOCTYPE html>
<html>
    <head>
        <title>Reminders</title>
        <link rel="stylesheet" href="../static/rem.css">
    </head>
    <body class="body_rem">
        <center><h1 class="re"><b>REMINDERS</b></h1></center>
        <br>
        <br>
        <br>
        <center><table bgcolor="black" width="1200" height="300">

            <tr bgcolor="cadetblue" align="center">
                <th class="basic" width="200" height="50">Sno</th>
                <th class="basic" width="200" height="50">Name of the Medicine</th>
                <th class="basic" width="200" height="50">Intake</th>
                <th class="basic" width="200" height="50">Dose<br>(Morning/Afternoon/Night)</th>
                <th class="basic" width="200" height="50">Date begins</th>
                <th class="basic" width="200" height="50">Date ends</th>
                
            </tr>
            <tr bgcolor="powderblue" align="center">
                <td class="tab">1</td>
                <td class="tab">Pan-D</td>
                <td class="tab">Twice a day</td>
                <td class="tab">Morning/Night</td>
                <td class="tab">01/12/2022</td>
                <td class="tab">01/02/2023</td>
            </tr>
            <tr bgcolor="powderblue" align="center">
                <td class="tab">2</td>
                <td class="tab">Hifenac</td>
                <td class="tab">Twice a day</td>
                <td class="tab">Morning/Night</td>
                <td class="tab">01/12/2022</td>
                <td class="tab">01/02/2023</td>
            </tr></center>
            <tr bgcolor="powderblue" align="center">
                <td class="tab">3</td>
                <td class="tab">Zincovit</td>
                <td class="tab">Once a day</td>
                <td class="tab">Morning</td>
                <td class="tab">01/12/2022</td>
                <td class="tab">01/02/2023</td>
            </tr></center>
            <tr bgcolor="powderblue" align="center">
                <td class="tab">4</td>
                <td class="tab">Uprise</td>
                <td class="tab">Once a week</td>
                <td class="tab">Afternoon</td>
                <td class="tab">01/12/2022</td>
                <td class="tab">01/02/2023</td>
            </tr></center>
            <br>
            <h1 class="text" ><b>Next Appointment : 02/02/2023 <span class="text"></span> Timings : 5:00 pm</b></h1>
    

    </body>
</html>